<div class="flex justify-center w-fit mt-2 mb-2">
  <div class="text-sm">{{itemNumber}}.</div>
  <div class="ml-1 flex flex-col">
    <div class="text-sm"><a href="{{itemURL}}">{{title}}
      <span *ngIf="url" class="text-xs">({{slicedURL}})</span></a>
      <div class="flex text-xs">
        <div>
          {{pointsAmount}} {{pointsAmount === 1 ? 'point' : 'points'}}
          by {{author}} <a class="hover:underline"
                                      [routerLink]="['/item']" [queryParams]="{itemId:itemID}">{{createAtDate}}
        </a></div>
        <div class="ml-1 hover:underline"><a
          [routerLink]="['/item']" [queryParams]="{itemId:itemID}">{{createAtDate}}</a></div>
      </div>
    </div>
  </div>

</div>
