<div class="flex justify-center w-fit mt-2 mb-2">
  <div class="text-sm">{{dataRecord.serial_number}}.</div>
  <div class="ml-1 flex flex-col">
    <div class="text-sm"><a href="{{makeURL(dataRecord)}}">{{dataRecord.title}}
      <span *ngIf="dataRecord.url" class="text-xs">({{sliceURL(dataRecord.url)}})</span></a>
      <div class="flex text-xs">
        <div>
          {{dataRecord.points}} {{dataRecord.points === 1 ? 'point' : 'points'}}
          by {{dataRecord.author}} <a class="hover:underline"
                                      [routerLink]="['/item']" [queryParams]="{itemId:dataRecord.objectID}">{{substractDates(dataRecord.created_at)}}
        </a></div>
        <div class="ml-1 hover:underline"><a
          [routerLink]="['/item']" [queryParams]="{itemId:dataRecord.objectID}">{{makeCommentsLabel(dataRecord)}}</a></div>
      </div>
    </div>
  </div>

</div>
