<div>
  <div class="flex text-xs text-gray-500 ml-2">
    <div>{{dataRecord.author}}</div>
    <div class="ml-1 mr-1 hover:underline cursor-pointer"><a
      [routerLink]="['/item']" [queryParams]="{itemId:dataRecord.objectID}">{{substractDates(dataRecord.created_at)}}</a></div>
    <div class="ml-1 mr-1">on: <a [routerLink]="['/item']" [queryParams]="{itemId:dataRecord.objectID}"
                                  class="hover:underline cursor-pointer">{{dataRecord.story_title}}</a></div>
  </div>

  <div class="text-sm ml-2" [innerHTML]="dataRecord.comment_text | sanitizeHtml">
  </div>

</div>
