<p *ngIf="loading">Loading...</p>

<div *ngIf="!loading" class="ml-1flex flex-col">

  <div class="text-base mt-2 pb-4 border-b-2 border-gray-300"><a
    href="{{url}}">{{title}}
    <div *ngIf="text" class="text-sm ml-3 mb-2"
         [innerHTML]="text | sanitizeHtml"></div>
    <span *ngIf="url" class="text-xs">({{slicedURL}})</span>
  </a>
    <div>
      <div class="flex text-xs">
        {{pointsAmount}} {{pointsAmount === 1 ? 'point' : 'points'}}
        by {{author}} {{createAtDate}}
        <div class="ml-1">
          hide
        </div>
        <div class="ml-1">
          past
        </div>
        <div class="ml-1 hover:underline"><a
          href="{{hackerNewsURL}}">{{createAtDate}} comments</a>
        </div>
      </div>

    </div>
  </div>
  <app-page-comment *ngFor="let comment of comments"
                    [commentData]="comment"></app-page-comment>
</div>
