<div class="ml-5 mt-2 mb-2 flex flex-col">
  <div class="text-sm">
    <div>
      <div class="flex text-xs text-gray-500">
        {{commentData.author}} {{substractDates(commentData.created_at)}}
        <div class="ml-1 hover:underline cursor-pointer" (click)="hideBranch()">
          {{visible ? 'hide' : makeShowLabel(this.commentData)}}
        </div>
      </div>
      <div *ngIf="visible">
        <div [innerHTML]="commentData.text | sanitizeHtml"></div>
        <app-page-comment *ngFor="let comment of commentData.children" [commentData]="comment"></app-page-comment>
      </div>
    </div>
  </div>
</div>
