<div class="ml-5 mt-2 mb-2 flex flex-col">
  <div class="text-sm">
    <div>
      <div class="flex text-xs text-gray-500">
        {{author}} {{createdAtDate}}
        <div class="ml-1 hover:underline cursor-pointer" (click)="hideBranch()">
          {{visible ? 'hide' : commentsLabel}}
        </div>
      </div>
      <div *ngIf="visible">
        <div [innerHTML]="commentText | sanitizeHtml"></div>
        <app-page-comment *ngFor="let reply of replies" [commentData]="reply"></app-page-comment>
      </div>
    </div>
  </div>
</div>
